body {

    margin: 80px;
    padding: 0;
    max-width: 1440px;
    max-height: 1272px;
   
}

.title-text {
   font-size: 56px;
}

.text {
    color: rgb(37, 37, 37, 0.8);
    font-size: 26px;
    width: 500px;
}

header {
    width: 444px;
    display: flex;
    flex-direction: row;
}
.container-text {

    width: 500px;
}

.button {
    background-color: #252525;
    color: #FFFFFF;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    font-size: 18px;

}

.containers {

    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 1316px;
    height: 440px;
}

.container-left-right {
    display: flex;
    gap: 50px;
    
}

.image-right {
    margin-top: 100px;
    width: 408px;
    height: 480px;
}

.image-left {
    width: 408px;
    height: 480px;
}

.containers img {
    height: 379px;
    width: 412px;
}