.container-text {
    font-size: 64px;
    font-style: normal;
    text-align: left;
    align-content: center;
    background-color: white;
    padding-left: 5rem;
    padding-right: 25rem;
    width: 50rem;
    height: 25rem;
}

.h1 {
    font-family: sans-serif;
    font-weight: 444;
    height: 231;
    margin-bottom: 15rem;
    font-size: 56px;
}

.body {
    padding: 70px;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    color: rgb(37, 37, 37, 0.8);
    font-size: 26px;
    font-weight: 386;
    height: auto;
}

button {
    color: #FFFFFF;
    background-color: #252525;
    font-size: 18px;
    border: 1px solid #252525;
    font-weight: 700;
    border-radius: 20px;
    padding: 20px 60px;
    margin-bottom: 3rem;
    text-align: center;
}

.container-left-right {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 50%;
    margin: 5rem auto;
    padding: 100px;
    
}

.image-left {
    max-width: 100%;
    border-radius: 30px;
    justify-content:right;
    position: relative;
    top:-700px;
    margin-left: 25rem;
    margin-top: 30px;
}

.image-right {
    max-width: 100%;
    border-radius: 30px;
    justify-content:right;
    position: relative;
    top:-1000px;
    margin-left: 70rem;
}

.numbers {
    flex: auto;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -1000px;
}

.container-down {
    border-radius: 15px;
    flex: auto;
    display: flex;
    gap: 40px;
    justify-content: left;
    margin-top: -1000px;
    padding-left: 5rem;
    padding-right: 5rem;
    
}