.container-text {
    font-size: 64px;
    font-style: normal;
    text-align: center;
    align-content: center;
    background-color: white;
}

.text {
    color: rgb(37, 37, 37,0.8);
    font-size: 26px;
}

button {
    color: #FFFFFF;
    background-color: #252525;
    font-size: 18px;
}
