.container {
    width: 1440px;
    height: 999px;
    display: flex;
        /* margin-left: auto; */
}

.container-text {
    margin-left: auto;
    width: 500px;    
}

h1 {
    /* width: 500px;
    height: 153px; */
    font-size: 64px;
    color: #252525;
    
    height: 90px;
}

.hero-uno p {
    /* width: 500px;
    height: 144px; */
    font-size: 26px;
    color: rgb(37, 37, 37, 0.8);
}

button {
    width: 158px;
    height: 54px;
    background-color: #252525;
    color: #FFFFFF;
    border-radius: 16px;
}

.hero-dos {
    width: 500px;
    height: 334px;
}

.cont-one .number {
    width: 500px;
    height: 44px;
    color: rgb(37, 37, 37, 0.8);
    font-size: 32px;
}

.cont-one p {
    width: 500px;
    height: 99px;
    color: rgb(37, 37, 37, 0.8);
    font-size: 24px;
}

.cont-two .number {
    width: 500px;
    height: 44px;
    color: rgb(37, 37, 37, 0.8);
    font-size: 32px;
}

.cont-two p {
    width: 500px;
    height: 99px;
    color: rgb(37, 37, 37, 0.8);
    font-size: 24px;
}


img {
    width: 716px;
    height: 932px;
}