header {
    width: 1440px;
    height: 954px;
}

h1 {
    font-size: 72px;
    color: #252525;
    width: 833px;
    height: 176px; 
}

.containers {
    width: 1312px;
    height: 559px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container {
    width: 400px;
    height: 549px;
}

p {
    font-size: 32px;
    color: rgb(37, 37, 37, 0.5);
}

.text {
    font-size: 24px;
    color: rgb(37, 37, 37, 0.8);
}

.pictures {
    width: 400px;
    height: 345px;
}