.body {
    width: 1440px;
    height: 1204px;
}

.title-text {
    width: 674px;
    height: 80px;
    font-size: 88px;
    color: #252525;
    margin-bottom: 120px;
    margin-left: 30px;
}

.container-text {
    display: flex;
    justify-content: space-around;
}

.movimient {
    background-color: pink;
    width: 526px;
    height: 174px;
    gap: 16px;

}

.text {
    width: 526px;
    height: 108px;
    font-size: 26px;
    color: rgb(37, 37, 37, 0.8);

}

button {
    width: 157px;
    height: 50px;
    background-color: #252525;
    border-radius: 16px;
    color: #FFFFFF;
    font-size: 18px;
}

img {
    width: 1313px;
    height: 732px;
    display: flex;
    justify-content: centers;
    margin-top: 400px;
    margin-left: 30px;
}